@model Flavour
@{
    ViewData["Title"] = "Smakfull information";
    var photoPath = "~/images/" + (Model.PhotoPath ?? "glass2.jpg");
}

<h1>Detaljer</h1>

<div class="justify-content-center">
    <h4>Smakfull information</h4>

    <div class="justify-content-center" style="width: 18rem;">
        <div class="card text-center">
            <div class="card-header">
                <h5 class="card-title">@Html.DisplayFor(model => model.FlavourName)</h5>
            </div>
            <div class="card-body text-center">
                <img class="card-img-top" src="@photoPath" alt="glassbild" asp-append-version="true" /><br />

            </div>
            <div class="card-footer text-muted">
                <h5>@Html.DisplayNameFor(model => model.FlavourDescription)</h5><br />

                <p class="card-text">@Html.DisplayFor(model => model.FlavourDescription)</p><br /><br />

                <p class="card-text" style="color: #ff008a;font-weight: 800;">@Html.DisplayFor(model => model.FlavourPrice)kronor/strut</p>
            </div>
        </div>
    </div>

    <div>
        @if (User.Identity.Name == "Admin@mail.com")
        {
            <a asp-action="Edit" asp-route-id="@Model.FlavourId"><i class="fas fa-edit"></i></a>
        }
        <a asp-action="Index"><i style="font-size:2em;" class="fas fa-arrow-circle-left"></i></a>
    </div>
</div>