@model icecreamshop.Models.Flavour

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Flavour</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlavourName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlavourName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlavourDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlavourDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FlavourId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
