@model Flavour
@{
    ViewData["Title"] = "Smakfull information";
    var photoPath = "~/images/" + (Model.PhotoPath ?? "glass2.jpg");
}

<h1>Details</h1>

<div>
    <h4>Smakfull information</h4>

    <div class="row justify-content-center m-3" style="width: 18rem;">
        <div class="card text-center">
            <div class="card-header">
                <h5 class="card-title">@Html.DisplayFor(model => model.FlavourName)</h5>
            </div>
            <div class="card-body text-center">
                <img class="card-img-top" src="@photoPath" alt="glassbild" asp-append-version="true" /><br />
               
            </div>
            <div class="card-footer text-muted">
                <h5>@Html.DisplayNameFor(model => model.FlavourDescription)</h5><br />

                <p class="card-text">@Html.DisplayFor(model => model.FlavourDescription)</p>
            </div>
        </div>
    </div>
</div>
<div>
    @if (User.Identity.Name == "Admin@mail.com")
    {
        <a asp-action="Edit" asp-route-id="@Model.FlavourId">Edit</a> 
    }
<a asp-action="Index">Tillbaka till smaker</a>
</div>
