@model icecreamshop.Models.OrderBox

@{
    ViewData["Title"] = "Beställnings översikt";
}

<h1>Beställa glass</h1>

<h4>Din order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display:none;">
                <!--Visas ej-->
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" type="text" class="form-control" value="@ViewBag.UserId" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Pris/Strut</label>
                <select id="priceoutput" asp-items="@ViewBag.FlavourPrice" disabled></select>
            </div>
            <div class="form-group" style="display:none;">
                <!--Visas ej-->
                <label asp-for="OrderDate" class="control-label" value="@DateTime.Now"></label>
                <input asp-for="OrderDate" type="text" class="form-control" value="@DateTime.Now" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlavourId" class="control-label"></label>
                <select asp-for="FlavourId" class="form-control" asp-items="@ViewBag.FlavourId"></select>
                <!--<input asp-for="FlavourId" type="text" value="@ViewBag.FlavourId" class="form-control" />-->
            </div>
            <div class="form-group">
                <label asp-for="OrderSum" class="control-label"></label>
                <select asp-for="OrderSum" asp-items="@ViewBag.OrderSum" class="form-control"></select>
                <span asp-validation-for="OrderSum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Beställ" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-controller="Flavours" asp-action="Index"><i style="font-size:2em;" class="fas fa-arrow-circle-left"></i></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
