@model icecreamshop.Models.OrderBox

@{
    ViewData["Title"] = "Radera beställning";
}

<h1>Radera</h1>

<h3>Är du säker på att du vill ta bort den här beställningen?</h3>
<div>
    <h4>OrderBox</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderSum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderSum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Flavour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flavour.FlavourDescription)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="OrderBoxId" />
        <input type="submit" value="Ta bort" class="btn btn-danger" /> |<br />
        <a asp-action="Index">Tillbaka till ordrar</a>
    </form>
</div>
