@model icecreamshop.Models.OrderBox

@{
    ViewData["Title"] = "Detaljer om order";
}

<h1>Detaljer om order</h1>

<div>
    <h4>OrderBox</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderSum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderSum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flavour)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flavour.FlavourDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrderBoxId">Ändra</a> |
    <a asp-action="Index">Tillbaka till ordrar</a>
</div>
