@model IEnumerable<icecreamshop.Models.OrderBox>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderSum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flavour)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderSum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flavour.FlavourDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderBoxId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderBoxId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderBoxId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
